.blog {
  .header {
    position: relative;
    padding-top: 11rem;
    overflow: hidden;

    .row.breadcrumbs-row {
      position: absolute;
      width: 100%;
    }

    .post-image {
      padding-top: 3rem;
      padding-bottom: 3rem;

      img {
        width: 100%;
        object-fit: cover;
        height: 320px;
      }
    }

    .post-meta {
      padding: 3rem 0 3rem 3rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -6rem;
        width: 100vw;
        height: 100%;
        background-color: #dbe3e9;
        z-index: -1;
      }

      .post-excerpt {
        margin-top: 2rem;
      }

      .post-link {
        border-radius: 0;
        color: #fff;
        margin-top: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  .entry-content {
    padding-top: 3rem;
    padding-bottom: 3rem;

    img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }
}

.single-post {
  .header {
    position: relative;
    padding-top: 11rem;
    overflow: hidden;

    .row.breadcrumbs-row {
      position: absolute;
      width: 100%;
    }

    .post-image {
      padding-top: 3rem;
      padding-bottom: 3rem;
      z-index: 1;

      img {
        width: 100%;
        object-fit: cover;
        height: 320px;
      }
    }

    .post-meta {
      padding: 3rem 0 3rem 3rem;
      position: relative;

      @include media-breakpoint-down(sm) {
        padding-top: 8rem;
        margin-top: -8rem;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -6rem;
        width: 100vw;
        height: 100%;
        background-color: #fde9e0;
        z-index: -1;
      }

      &.bg-gray-dark::after {
        background-color: #dbe3e9;
      }
    }
  }
}

.social-share {
  .btn {
    border: 1px solid #2a334a;
    border-radius: 0;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    svg path {
      fill: #2a334a;
    }

    &:hover {
      background-color: #2a334a;
      color: #fff;

      svg path {
        fill: #fff;
        transition: fill 0.25s;
      }
    }
  }
}

footer.related-posts {
  background-color: #2a334a;
  margin-top: 4rem;

  .container {
    margin-top: -8rem;

    img {
      width: 100%;
    }
  }

  a,
  p,
  h4 {
    color: #fff;
    text-decoration: none;
  }
}
