.faq {
  .accordion-item {
    margin-bottom: 1rem;
    border: 0;
  }

  .accordion-header.faq-question {
    background-color: #f6f8f9;
    padding: 1rem;
  }

  .accordion-header.faq-question h4 {
    margin: 0;
    color: #2a334a;
    font-size: 1rem;
    font-weight: bold;
  }

  .accordion-item.faq-item {
    padding: 0;
  }
}
