.icon-box {
  border-radius: 30px;

  .icon-box-icon,
  .icon-box-icon img {
    max-width: 96px;
  }

  .icon-box-icon {
    margin-bottom: 1rem;
  }

  &.highlight {
    background-color: #13aa57;
    color: #fff;
  }

  .col.col-md-12 {
    margin: 0;
    padding: 2rem;
  }

  .col.col-md-12.icon-left {
    display: flex;
  }
}
