section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  h2 {
    color: #2a334a;
  }

  &.bg-green {
    padding-top: 60px;
    margin-bottom: -200px;

    + section {
      padding-top: 160px;
    }
  }
}

/* Blog */
.entry-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container.narrow {
  max-width: 800px;
}
